<title>Login</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
	
<p>Welcome! Please login</p>
<form method="post" action="/submit" />
  <input type="text" name="user" />
  <input type="submit" />
</form>

