<title>Pit</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<html>
<body>

<img src="http://farm4.static.flickr.com/3092/2282151248_0b67256b45.jpg"  alt="Mona Lisa" />

</body>
</html>


